body {font-family: 'Trebuchet MS', Verdana;
		background-color: silver;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
 font-family: 'Trebuchet MS', Verdana;
}

.navbar {background-color: white;
		letter-spacing:2px;
}

.content {background-color: white;
			max-width:1600px}
.highlight {
  background-color: yellow;
}